@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Ribeye&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-bg-color: #efefef;
  --color-primary: #458dfc;
  --color-primaryLight: #6cbcfc;
  --font-manrope: "Manrope", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-ribeye: "Ribeye", sans-serif;
}

html {
  scroll-behavior: smooth;
}
